
html, body {
  margin: 0;
  padding: 0;
  /* cursor: url('assets/cursor.png'), auto; */
  background-color: #141414;
}

/* hide the scrollllllll */
html::-webkit-scrollbar {
  display: none;
}

/* .lottie {
  z-index: 100;
} */

p {
  margin: 0;
  padding: 0;
}

 button, a {
  border: none;
  text-decoration: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* cursor: url('assets/cursor.png'), auto; */
 }

.navbar {
  width: 92vw;
  height: 30px;
  padding: 4vh 4vw 4vh 4vw;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  background: #141414;
  z-index: 10;
}

.navbar > a:hover {
  color: #00ff00;
}

.header {
  top: 0;
  background: linear-gradient(to bottom, #141414, #141414, transparent);
}

.footer {
  bottom: 0;
  background: linear-gradient(to top, #141414, #141414, transparent);
}

.banner {
  display: none;
}

.text-lg-caladea {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  color: white;
}

.text-md-caladea-bold {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: white;
}

.text-md-caladea {
  font-family: 'Caladea', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;
  color: white;
}

.text-lg-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.text-lg-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.text-sm-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.text-sm-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.text-lg-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.28px;
  color: white;
}

.text-md-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.text-nowrap {
  white-space: nowrap;
}

.text-dark {
  color: #9f9f9f;
}

.text-green {
  color: #00ff00;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: right;
}

.spacing-top-lg {
  padding-top: 90px;
}

.spacing-top-md {
  padding-top: 62px;
}

.spacing-top-sm {
  padding-top: 27px;
}

.spacing-top-xsm {
  padding-top: 12px;
}

.spacing-bottom-lg {
  padding-bottom: 90px;
}

.spacing-bottom-md {
  padding-bottom: 62px;
}

.spacing-bottom-sm {
  padding-bottom: 27px;
}

.spacing-bottom-xsm {
  padding-bottom: 12px;
}


@media screen and (max-width: 550px) {
  .text-lg-rmo {
    font-size: 16px;
  }

  .text-lg-montserrat-bold {
    font-size: 16px;
  }

  .text-lg-montserrat {
    font-size: 14px;
    line-height: 17px;
  }

  .text-lg-caladea {
    font-size: 36px;
    line-height: 55px;
  }

  .text-md-caladea {
    font-size: 24px;
    line-height: 35px;
  }

  .stack-for-mobile {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row; */
  }

  .project-cell {
    margin-bottom: 90px;
  }

  .lg-container {
    margin: 0;
    width: 100vw;
  }

  .skill-cell {
    margin-right: 20px;
    width: 30px !important;
    /* height: 30px !important; */
    /* z-index: -1; */
    /* background: white; */
  }
  
  .banner {
    display: block;
  }
}



.body-container {
  margin: 0 auto;
  height: calc(100vh - 200px);
  margin-top: 100px;
  margin-bottom: 100px;
}

.lg-container {
  margin: 0 auto;
  width: 82vw;
  height: 50%;
  /* height: 60vh; */
  /* max-width: 900px; */
}

.md-container {
  width: 60vw;
  max-width: 900px;
  min-width: 320px;
  /* height: 100%; */
}

.sm-container {
  width: 36vw;
  min-width: 320px;
  height: fit-content;
  /* height: 100%; */
  /* max-width: 900px; */
}


.xsm-container {
  width: 20vw;
  min-width: 280px;
  /* max-width: 900px; */
}

.sm-cell-container {
  width: 100%;
  height: 90px;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.just-flex-between {
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
}

.just-flex-between-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/* ----------------------------------- */
/* -------------- About -------------- */
/* ----------------------------------- */

.about-description {
  width: 20vw;
}

.skills-list {
  display: inline-flex;
  width: fit-content;
}

.skill-cell {
  float: left;
  position: relative;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  /* z-index: -1; */
  /* background: white; */
}

/* .skill-cell > span {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* ----------------------------------- */
/* --------------- Work -------------- */
/* ----------------------------------- */

.project-cell {
  width: 100%;
  max-width: 400px;
}

.project-cell > p {
  margin-bottom: 12px;
}

.project-cell > a {
  display: inline-block;
  margin-top: 24px;
}

.project-text {
  height: 100px;
}