
html, body {
  margin: 0;
  padding: 0;
  /* cursor: url('assets/cursor.png'), auto; */
  background-color: #141414;
  /* overflow-y: hidden; */
  /* position: fixed; */
  /* overflow: hidden; */
  /* cursor: url('assets/cursor.png') 25 15, pointer; */

  /* cursor: url('assets/cursor.svg') 27 27, none; */
}


/* hide the scrollllllll */
::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}

.body-container {
  height: fit-content;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

p {
  margin: 0;
  padding: 0;
}

 button, a {
  border: none;
  text-decoration: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* cursor: url('assets/cursor.svg') 27 27, none; */
 }

.navbar {
  width: 96vw;
  height: 20px;
  padding: 2vw 2vw 2vw 2vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* background: #141414; */
  z-index: 10;
  white-space: nowrap;
  /* backdrop-filter: url(Rectangle\ 24.svg) blur(2px) saturate(100%); */
  /* backdrop-filter: blur(1px); */
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-web {
  display: block;
}

.nav-mobile {
  display: none;
}

.navbar > a:hover {
  color: #00ff00;
}

.enable-scroll {
  position: inherit;
  /* overflow-y: auto; */
}

.header {
  top: 0;
  background: linear-gradient(to bottom, #141414,  #141414, rgba(20,20,20,0));
}

.footer {
  bottom: 0;
  background: linear-gradient(to top, #141414,  #141414, rgba(20,20,20,0));
}

.banner {
  /* position: static; */
  display: none;
  /* margin-top: -140px; */
}
.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-y::-webkit-scrollbar {
  display: none;
}

.scroll-lock-y {
  overflow-y: hidden;
}

.scroll-lock-x {
  overflow-x: hidden;
}

.text-lg-caladea-bold {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  color: white;
}

.text-lg-caladea {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  color: white;
}

.text-md-caladea-bold {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: white;
}

.text-md-caladea {
  font-family: 'Caladea', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  color: white;
}

.text-lg-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.text-lg-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.text-sm-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.text-sm-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.text-lg-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.28px;
  color: white;
}

.text-md-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.text-sm-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.text-nowrap {
  white-space: nowrap;
}

.text-dark {
  color: #9f9f9f;
}

.text-green {
  color: #00ff00;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: right;
}

.spacing-top-lg {
  padding-top: 15vh;
}

.spacing-top-md {
  /* padding-top: 62px; */
  padding-top: 8vh;
}

.spacing-top-sm {
  padding-top: 27px;
}

.spacing-top-xsm {
  padding-top: 12px;
}

.spacing-bottom-lg {
  padding-bottom: 15vh;
}

.spacing-bottom-md {
  /* padding-bottom: 62px; */
  padding-bottom: 8vh;
}

.spacing-bottom-sm {
  padding-bottom: 27px;
}

.spacing-bottom-xsm {
  padding-bottom: 12px;
}


@media screen and (max-width: 600px) {

  .navbar {
    width: 92vw;
    height: 17px;

    padding: 2vh 4vw 2vh 4vw;
  }

  .nav-web {
    display: none;
  }
  
  .nav-mobile {
    display: block;
  }

  .text-lg-rmo {
    font-size: 14px;
    line-height: 17px;
  }

  .text-md-rmo {
    font-size: 12px;
    line-height: 15px;
  }

  .text-lg-montserrat-bold {
    font-size: 16px;
  }

  .text-lg-montserrat {
    font-size: 14px;
    line-height: 17px;
  }

  .text-lg-caladea-bold {
    font-size: 32px;
    line-height: 49px;
  }

  .text-lg-caladea {
    font-size: 28px;
    line-height: 49px;
  }
  
  .text-md-caladea-bold {
    font-size: 24px;
    line-height: 35px;
  }

  .text-md-caladea {
    font-size: 24px;
    line-height: 35px;
  }


  .stack-for-mobile {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row; */
  }

  .project-cell {
    margin-bottom: 90px;
  }

  .lg-container {
    margin: 0;
    width: 95vw !important;
    margin-left: 5vw !important;
  }

  .sm-container {
    margin: 0;
    width: 95% !important;
  }

  .just-flex-between {
    width: 100% !important;
  }

  .skill-cell {
    margin-right: 20px;
    width: 30px !important;
    /* height: 30px !important; */
    /* z-index: -1; */
    /* background: white; */
  }
  
  .banner {
    display: block;
  }

  .work-container {
    padding-left: 0 !important;
    margin-top: 0 !important;
    float: left;
    display: block;
  }

  .about-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .just-flex-around {
    justify-content: space-between !important;
  }

  .scroll-y {
    padding-bottom: 10vh;
  }

  .project-text {
    height: auto !important;
  }

  .project-cell > a {
    margin-top: 0px !important;
  }

}





.lg-container {
  margin: 0 auto;
  width: 82vw;
  height: fit-content;
}

.md-container {
  width: 60vw;
  max-width: 900px;
  min-width: 300px;
 height: fit-content;
}

.sm-container {
  width: 36vw;
  min-width: 300px;
  max-width: 700px;
  height: fit-content;
}


.xsm-container {
  width: 23vw;
  min-width: 280px;
}

.sm-cell-container {
  width: 100%;
  height: 90px;
}



.just-flex-between {
  display: flex;
  justify-content: space-between;
}

.just-flex-evenly {
  display: flex;
  justify-content: space-around;
}

.just-flex-around {
  display: flex;
  justify-content: space-around;
}

.just-flex-between-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.just-flex-around-v {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ----------------------------------- */
/* -------------- Static Containers -------------- */
/* ----------------------------------- */


.test::-webkit-scrollbar {
  display: none;
}

.static-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
}

.static-inner {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

/* ----------------------------------- */
/* -------------- About -------------- */
/* ----------------------------------- */


.about-description {
  width: 20vw;
}

.skills-list {
  display: inline-flex;
  width: fit-content;
}

.skill-cell {
  float: left;
  position: relative;
  margin-right: 30px;
  width: 28px;
  height: 28px;
}



/* ----------------------------------- */
/* --------------- Work -------------- */
/* ----------------------------------- */

.project-cell {
  width: 100%;
  max-width: 400px;
}

.project-cell > p {
  margin-bottom: 12px;
}

.project-cell > a {
  display: inline-block;
  margin-top: 24px;
}

.project-text {
  height: 100px;
}


.test-bttn {
  width: 40px;
  height: 40px;
  background: red;
}
