
html, body {
  margin: 0;
  padding: 0;
  /* cursor: url('assets/cursor.png'), auto; */
  background-color: #141414;
  
}

p {
  margin: 0;
  padding: 0;
}

 button, a {
  border: none;
  text-decoration: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* cursor: url('assets/cursor.png'), auto; */
 }

.navbar {
  width: 96vw;
  margin: 4vh 2vw 4vh 2vw;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
}

.navbar > a:hover {
  color: #00ff00;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.text-lg-caladea {
  font-family: 'Caladea', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 153.3%;
  color: white;
}

.text-md-caladea {
  font-family: 'Caladea', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 153.3%;
  color: white;
}

.text-lg-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.text-lg-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.text-sm-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.text-lg-rmo {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.28px;
  color: white;
}


.text-dark {
  color: #9f9f9f;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.spacing-top-lg {
  margin-top: 90px;
}

.spacing-top-sm {
  margin-top: 27px;
}

.spacing-top-xsm {
  margin-top: 12px;
}

.spacing-bottom-sm {
  margin-bottom: 27px;
}

.spacing-bottom-xsm {
  margin-bottom: 12px;
}

.body-container {
  margin: 0 auto;
  height: 100vh;
}

.lg-container {
  width: 90vw;
  /* max-width: 900px; */
}

.md-container {
  width: 60vw;
  max-width: 900px;
}

.sm-container {
  width: 36vw;
  /* max-width: 900px; */
}

.xsm-container {
  width: 20vw;
  /* max-width: 900px; */
}

.sm-cell-container {
  width: 100%;
  height: 90px;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.just-flex-between {
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------- */
/* -------------- About -------------- */
/* ----------------------------------- */

.about-description {
  width: 525px;
}

.skills-list {
  display: inline-flex;
}

.skill-cell {
  float: left;
  position: relative;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  /* background: white; */
}

.skill-cell > span {
  position: absolute;
  bottom: 0;
  right: 0;
}